<template>

  <div show.bind="user">
    <div class="btns-group-vertical">
      <a href="#" class="btn-secondary" click.delegate="toggleMenuOpen()">
        <span class="icon-arrow-${menu_open ? 'up' : 'down'}"></span>
        ${email_username}
      </a>
      <div show.bind="menu_open">
        <a class="btn-secondary" click.delegate="logout()">Logout</a>
      </div>
    </div>
  </div>

  <div show.bind="!user">
    <div class="btns-group">
      <a route-href="route: auth-signin-page" class="btn-secondary">Sign in</a>
      <a route-href="route: auth-join-page" class="btn-secondary">Join</a>
    </div>
  </div>

</template>
