<template>
  <div class="list-item ${taskBeingEditedId === task._id ? 'editing' : ''} ${task.checked === true ? 'checked': ''}"
              repeat.for="task of tasks">
    <label class="checkbox">
      <input type="checkbox"
             checked.bind="task.checked"
             name="checked"
             click.delegate="onCheckboxChange(task._id, task.checked)"/>

      <span class="checkbox-custom"></span>
    </label>

    <input type="text"
           value.bind="task.text"
           placeholder="Task name"
           focus.trigger="onFocus()"
           blur.trigger="onBlur()"
           change.trigger="onTextChange(task._id, task.text)"
           click.delegate="setTaskBeingEditedId(task._id)" />

    <a class="delete-item" click.delegate="removeThisItem(task._id)">
      <span class="icon-trash"></span>
    </a>
    
  </div>
</template>
